
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.lakshita-header{
    position: relative;
    font-size: 5vw;
    color:whitesmoke;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.content {
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size:300% 300% ;
    animation: color 12s ease-in-out infinite;
    padding-top: 200px;
    padding-bottom: 260px;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-image: url('your-gif-url.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden; */
      
  }
  @keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }
  input[type=text]{
    width:100%;
    border:2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding :8px;
    box-sizing: border-box;
    transition:0.3s;
  }
  input[type=text]:focus{
       border-color:rgb(30, 255, 71);
       box-shadow: 0 0 8px 0 rgb(30, 255, 71);
  }  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: larger;
  }
  .join-btn{
    font-size: 1em;
    background-color: rgb(225, 206, 225);
    border-radius: 15px;
    background-color: yellowgreen;
    border:none;
  }
  
  .join {
    display: flex;
    gap:10px;
    flex-direction: row;
    width: 100%;
  }
  .join-btn:hover{
    background-color: rgb(121, 163, 37);
  }
  
  .create-btn {
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    border-radius: 15px;
    background-color: yellowgreen;
    border:none;
    
  }
  .create-btn:hover{
    background-color: rgb(121, 163, 37);
  }
  #send-btn{
    font-size: large;
    background-color: lightskyblue;
    border:none;
    border-radius: 10%;
  }
  #send-btn:hover{
    background-color:rgb(95, 172, 219);
  }
  .message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
  }
  
  .messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
  }
  
  .inputs {
    padding: 10px;
    display: flex;
  }
  
  h2 {
    text-align: center;
  }
  
  #message {
    flex: 1;
  }
  
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .muted {
    font-size: 10px;
    color: darkgray;
  }